.nav {
  position: absolute;
  top: 2.4em;
  right: 0em;
  /* TODO: had to remove height 100vh it was messing with the grid layout */
}

.background {
  position: absolute;
  top: -4em;
  right: 0;
  width: 100vw;
  height: 107vh;
  background: var(--color-background);
}