.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1_light {
  min-width: 26em;
  min-height: 26em;
  background-image: url("../../images/beach.svg");
}
.card1_dark {
  min-width: 26em;
  min-height: 26em;
  background-image: url("../../images/winter-night.png");
  background-size: cover;
}

.card2_light {
  width: 200px;
  height: 200px;
  background-image: url("../../images/sun.svg");
}

.card2_dark {
  width: 200px;
  height: 200px;
  background-image: url("../../images/sleeping-moon.png");
}

.card3 {
  opacity: 0.9;
  width: 200px;
  height: 200px;
  background-image: url("../../images/clouds.svg");
}

.card4 {
  width: 27em;
  height: 31em;
  background-image: url("../../images/me_big.png");
  filter: drop-shadow(7px 7px 7px #000000);
}

.block {
  display: block;
  width: 100%;
  height: 25em;
  margin: 5em 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
